
<%= render 'class_table' %> </br>

<div class="edit-schedule-link">
   <% if current_user && current_user.admin %>
      <p><%= link_to 'Create New Class', new_yoga_class_path %></p>
   <% end %>
</div>
