<div class="list-header">
    <% if params[:teacher_id] %>
        <h2>Create New Class for <%= @teacher.full_name %> </h2>
    <% else %>
        <h2>Create New Class</h2>
    <% end %>
</div>

<%= render 'form' %> 