<h1> Class Roster </h1>
<h3> <%= @yoga_class.formatted_date %> <%= @yoga_class.formatted_time %> </h3>

<div class="list">  
    <% @users.each do |user| %>
        <li> <%= user.full_name %> </li>
    <% end %>
</div>
