
<h3> <%= link_to 'Class Schedule', schedule_path %> <%= link_to 'Teachers', teachers_path %> <%= link_to 'Sign Up', new_user_path %> <%= link_to 'Sign In', signin_path %> </h3>

<h1> WELOCOME TO TEST YOGA STUDIO </h1>

<h2> Blurb </h2> </br>

<h2> Address Line 1 </h2> 
<h2> Address Line 2 </h2>
<h2> City, State Zip Code </h2> 

