
<h1> WELOCOME TO TEST YOGA STUDIO </h1>

<h1> Blurb </h1>

<h1> Address Line 1 </h1> </br>
<h1> Address Line 2 </h1> </br>
<h1> City, State Zip Code </h1> </br>



<%= link_to 'Sign Up', new_user_path %> or <%= link_to 'Sign In', signin_path %>