/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav ul {
    list-style: none;
    background-color: rgb(6, 80, 90);
    text-align: center;
    padding: 0;
    margin: 0;
  }

.nav li {
    font-family: 'Times', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid rgb(26, 24, 24);
  }
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }

.nav li {
    display: inline-block;
    margin-right: -4px;
    padding-right: 20px;
    padding-left: 20px;
  }

table {
    width: 100%;
  }

td {
    text-align: center;
  }

.welcome-banner, .welcome-bio-message, .address {
    text-align: center;
  }

.welcome-bio-message {
    font-size: 1.2em;
    border-style: solid;
}

.address {
    line-height: 0;
    font-weight: bold;
}

.edit-schedule-link {
    margin-left: 60px;
}

.edit-link {
}

.list {
    list-style-type: none;
    padding-bottom: 25px;
    font-size: 1em;
}

.list-header {
    font-weight: bold;
    line-height: 0;
}







  




 